.p-float-label{
    margin: 16px;
}

.centrado{
    border: 2px solid black;
    padding: 40px;
        position: absolute;
        left: 50%;
        margin-left: -200px;
        top: 82px;
}

.boton{

}

.cargarImg{

}

.container{
    width: 100%;
    display: flex;
    background-color: #DAF7A6;
}

.json{
    margin-top: 505px;
}
